    <script type="text/javascript" src="/static/lib/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/static/lib/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/lib/react.js"></script>
    <script type="text/javascript" src="/static/lib/react-dom.js"></script>
    <script type="text/javascript" src="/static/lib/browser.min.js"></script>

    </body>
</html>
