<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Title</title>

        <link rel="stylesheet" href="/static/lib/bootstrap/css/bootstrap.min.css">
    </head>
    <body>
