<% layout('layouts/main') -%>

<div id="loginbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">

</div>

<script type="text/babel" src="/static/react/components/backend/login.js"></script>
